body{
    font-family: 'Montserrat', sans-serif;
}
.box_logo_mobile {
    height: 75px;
}

.box_logo_mobile img {
    height: 100%;
}

aside {
    min-width: 55px;
    background-color: #051e34;
    height: calc(100vh - 75px);
}

.cont_general {
    height: calc(100vh - 75px);
    width: calc(100% - 55px);
    overflow-y: scroll;
}

.col-12 {
    min-height: 100px;
}

.info_student {
    height: 100%;
}

.card {
    width: 100%;
}

tr th img {
    width: 30px;
}

.but {
    height: 40px;
}

/* utilities */

.bg_blue {background-color: #1b72e8;}