
.box_logo_mobile {
    height: 75px;
}

.box_logo_mobile img {
    height: 100%;
}

aside {
    width: 55px;
    background-color: #051e34;
    height: calc(100vh - 75px);
}

.cont_general {
    width: calc(100% - 55px);
    overflow-y: scroll;
}

.top_main {
    height: 260px;
}

.info_student {
    height: 100%;
}

.card {
    width: 100%;
}


/* utilities */

.bg_blue {background-color: #1b72e8;}